.navbar {
  background-color: #6293af;
  color: white;
  z-index: 2;
}

.navbar-nav .navbar-item {
  margin-right: 40px;
}

.navbar-nav .navbar-link {
  color: #f2f1f7;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.navbar-nav .navbar-link:hover {
  color: #b4dadb;
}

.navbar-logo-image {
  max-width: 70px;
  margin-right: 55px;
  margin-left: 25px;
}

.overlay{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  background: #f4f4f4c9;
  z-index: 1;
 }

 .header{
  background-image: url('/images/back.jpg');
  min-height: 953px;
  background-attachment: fixed;
  background-size:cover;
  background-position:center;
 }

 .description{
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;
  width: 80%;
  height: 70%;
  z-index: 2;
  }

  .description h1{
  color:#71acb0;
  font-size: 40px;
  }

  .description p{
  color:#666;
  font-size: 30px;
  width: 50%;
  line-height: 1.5;
  }
   
  .description button{
  border:1px  solid #71acb0;
  background:#71acb0;
  color:#fff;
  }

  .about{
    padding: 1em;
    position: relative;
    z-index: 2;
   }
   .about h1{
    color:#71acb0;
    margin: 2em;
   }
   .about img{
      height: 45%;
      border-radius: 50%;
      width: 100%;
    }

   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }
   .about .desc h3{
    color: #10828C;
   }
   .about .desc p{
    line-height:2;
    color:#888;
    font-size: 20px;
   }

/* Стилизация мобильного меню */
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #6293af;
  }

  .navbar-logo-image {
    max-width: 50px;
    margin-left: 15px;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  button:focus {
    outline: none !important;
  }

  .navbar-toggler {
    background-color: white;
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("/images/menu.svg") !important;
    display: block !important;
  }

  .navbar-link {
    float: right !important;
  }

}