

.navbar {
  background-color: #2196F3; /* Синий фон */
  color: white; /* Белый текст */
}

.navbar-brand {
  font-weight: bold; /* Жирный шрифт для названия сайта */
}

.navbar-nav .navbar-item {
  margin-right: 20px; /* Отступ между элементами меню */
}

.navbar-nav .navbar-link {
  color: rgb(255, 255, 255); /* Белый текст для ссылок */
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.navbar-nav .navbar-link:hover {
  color: #040084; /* Синий текст при наведении */
}


/* Стилизация мобильного меню */
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #2196F3; /* Синий фон для мобильного меню */
  }

  button:focus {
    outline: none !important;
  }

  .navbar-toggler {
    background-color: white;
    border: none;
  }
  

  .navbar-toggler-icon {
    background-image: url("/images/menu.svg") !important;
    display: block !important;
  }
}